/* Body Section DESIGN*/
body {
    margin: 0px;
    color: #372d2d;

    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* Header section DESIGN*/
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #e2879a;

}

.header-title {
    color: #372d2d;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
}

.header-paragraph {
    color: #372d2d font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.header-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 400px;
    background-color: #792232;
    margin-bottom: 50px;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
}

.header-left {
    margin-left: 70px;

}

.header-image {
    max-width: 100%;
    max-height: 100%;
    margin: 50px 0px -4px 0px;



}

/*Our-featured-Design*/

.our-featured-top {
    text-align: center;
    margin: 100px;

}

.our-featured-header {
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 20px;
    color: #372d2d;

}

.pink-flower-tree {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;

}

.pink-flower-tree1 {

    display: block;
    text-align: center;
    background-color: #c7ba3d;
    margin: 10px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    height: 320px;
}

.pink-flower-tree2 {
    display: block;
    text-align: center;
    background-color: #c7a7ae;
    margin: 10px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    width: 320px;
    height: 320px;
}

.pink-flower-tree3 {

    display: block;
    text-align: center;
    background-color: #2bcb8b;
    margin: 10px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    height: 320px;
}

.featured-image {
    height: 300px;
    border: 20px;
    padding: 20px;
}

.imagename {
    background-color: #FFF;
}

/*Footer-section-Design*/

.footer {
    background-color: #160f0f;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;

    color: #FFF;
}

.footer-head {
    font-size: 30px;
    margin-bottom: 0px;
}

span {
    color: #861328;
}

.footer-p {
    margin-top: -30px;
    font-weight: 400;

}



.footer-copyright {
    font-size: 15;
    color: #777676;
}