/* Body Section DESIGN*/
body {
    margin: 0px;
    color: #372d2d;

    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* Header section DESIGN*/
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #e2879a;

}

.header-title {
    color: #372d2d;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
}

.header-paragraph {
    color: #372d2d;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.header-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 400px;
    background-color: #792232;
    margin-bottom: 50px;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
}

.header-left {
    margin-left: 70px;

}

.header-image {
    max-width: 100%;
    max-height: 100%;
    margin: 50px 0px -4px 0px;



}

/*Our-featured-Design*/

.our-featured-top {
    text-align: center;
    margin: 100px;

}

.our-featured-header {
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 20px;
    color: #372d2d;

}

.pink-flower-tree {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px 200px 0px 200px;
    text-align: center;
    width: 1920px;




}

.pink-flower-tree1 {

    display: block;
    text-align: center;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    height: 320px;
}

.pink-flower-img1 {
    background-color: #c7a7ae;
    align-items: stretch;
    padding-bottom: 0px;

}

.pink-flower-tree2 {
    display: block;
    text-align: center;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    width: 320px;
    height: 320px;
}

.pink-flower-img2 {
    background-color: #c7a7ae;
    align-items: stretch;
    padding-bottom: 0px;
}


.pink-flower-tree3 {

    display: block;
    text-align: center;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    height: 320px;
}

.pink-flower-img3 {
    background-color: #c7a7ae;
    align-items: stretch;
    padding-bottom: 0px;
}

.featured-image {
    height: 300px;
    border: 20px;
    padding: 20px;
}

.image-name {
    background-color: #FFF;
}

/*Footer-section-Design*/

.footer {
    background-color: #160f0f;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;

    color: #FFF;
}

.footer-head {
    font-size: 30px;
    margin-bottom: 0px;
}

span {
    color: #861328;
}

.footer-p {
    margin-top: -30px;
    font-weight: 400;

}



.footer-copyright {
    font-size: 15;
    color: #777676;
}

/* Section 3, Icon Bar Design*/
.icon-bar {
    display: flex;
    justify-content: center;

    background-color: #e2879a;
    padding: 149px 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 70px;
    width: 900px;
    height: 160px;
    text-align: center;


}

.icon-delivery {
    margin: 15px;
    text-align: center;

}

.icon-flower {
    margin: 15px;
    text-align: center;
}

.icon-support {
    margin: 15px;
    text-align: center;
}

/* Sale Section Design*/


.sale {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ac6272b2;
    margin: 0px;
    padding: 20px;

}

.sale-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 400px;
    background-color: #792232;
    margin-bottom: 50px;
    border: 5px solid white;
    border-radius: 10px;
    padding: 10px;


}

/*Newsletter Design*/
.subscribsion-secton {
    background-color: aliceblue;
    margin-bottom: 30px;

}


.newsletter-text {
    text-align: center;
    padding-top: 80px;

}

.newsletter-button {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;



}

.subscribe-input-button {
    padding: 15px;
    border-radius: 12px;
    color: white;
    background-color: #ffffff;
    border-color: ;
    border: none;

}

.subscribe-submit-button {
    padding: 15px;
    border-radius: 12px;
    color: white;
    border: none;
    background-color: #922d43;

}